.landing-header {
    background-color: $primary-color;
    color: $heading-text-color;
    height: 100%;
    margin-bottom: 20px;
    min-height: 300px;
    text-align: center;
    width: 100%;

    h1 {
        font-family: 'Pacifico', sans-serif;
        font-size: 7em;
        font-weight: normal; // Required due to iOS rendering bug.
        margin: 0;
    }

    h2 {
        font-family: 'Sarala', sans-serif;
        font-size: 1.5em;
    }
}
