$tile-width: 330px;
$tile-height: 160px;


.tiles {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 50px;

    .tile {
        background-color: $secondary-color;
        color: $heading-text-color;
        display: flex;
        font-family: 'Sarala', sans-serif;
        height: $tile-height;
        margin: 10px;
        transition: .1s ease-out;
        width: $tile-width;

        &:hover {
            box-shadow: 5px;
            cursor: pointer;
            transform: scale(1.02, 1.02);
            transition: .2s ease-out;
        }

        .tile-content {
            height: $tile-height - 50px;
            width: $tile-width;
        }

        .tile-name {
            font-size: 1.1em;
            line-height: 30px;
            margin: ($tile-height - 40px) 0 0;
            padding: 0 0 0 12px;
            position: absolute;
        }
    }
}
