.tile {
    background-color: $secondary-color;
    color: $heading-text-color;
    display: flex;
    font-family: 'Sarala', sans-serif;
    height: 250px;
    margin: 20px;
    width: 250px;
}

.tile-content {
    background-color: $heading-text-color;
    height: 200px;
    width: 250px;
}

.tile-name {
    font-size: 20px;
    line-height: 30px;
    margin: 210px 0 0;
    padding: 0 0 0 12px;
    position: absolute;
}

.tiles {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
